<link rel="import" href="/bower_components/polymer/polymer.html" />

<link rel="import" href="/components/file-tree/file-tree.html" />

<link rel="import" href="/templates/navigation-menu.html" />

<script src="/scripts/locale-utils.js"></script>

<dom-module id="audio-page">
	<template>
		<navigation-menu></navigation-menu>
		<h3><iron-label>[[i18n('audio.greeting')]]</iron-label></h3>
		<file-tree ajax-url="/rest/audio/list"></file-tree>
	</template>

	<script>
    Polymer({
    	is: "audio-page",

    	i18n: function(key) {
    		return Locales.i18n(key);
    	}
    });
  </script>
</dom-module>
