# Eclipse
.classpath
.project
.factorypath
.settings
.springBeans
/.apt_generated/
/.eclipse-pmd

# Build
target

#Binaries
files

# Logs
log

# Secret
TODO
src/main/resources/env/
src/main/resources/liquibase/diff.xml
