td.progress {
    width: 200px;
}

div.progressBackground {
    background-color: #eee;
    height: 20px;
    width: 100%;
    position: relative;
}

div.progressForeground {
    background-color: #4c4;
    height: 100%;
    width: 0;
}

div.progressChecksumForeground {
    background-color: #aaf;
}

div.progressUploadForeground {
    background-color: #4c4;
}

div.progressLabel {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

div.errorLabel {
    background-color: #c44;
    color: #eee;
}

div.doneLabel {
    background-color: #4c4;
    color: #eee;
}
