div.uploadBlock {
    border-color: #ddd;
    border-width: thin;
    border-style: dashed;
    width: 800px;
}

div.filename {
    color: #7af;
    font-weight: bold;
}

div.cancelButtonDiv {
    display: inline-block;
}

div.uploadLine {
    display: flex;
    flex-flow: row;
    height: 26px;
    width: 100%;
}

div.progressBackground {
    flex: 1;
    background-color: #ccc;
    width: 100%;
    position: relative;
}

div.progressForeground {
    height: 100%;
    width: 0;
}

div.progressChecksumForeground {
    background-color: #88f;
}

div.progressUploadForeground {
    background-color: #4c4;
}

div.progressLabel {
    color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
}

div.errorLabel {
    background-color: #c44;
    color: #eee;
}

div.infoLine {
    display: flex;
    flex-flow: row;
    padding: 5px;
}

div.titleGroup {
    flex: 1;
    display: flex;
    flex-flow: row;
}

input.titleInput {
    flex: 1
}

div.publishButtonDiv {
    text-align: right;
}

button.error {
    background-color: #c44;
    color: #ddd;
}
